
<div class="container">
  <div class="jumbotron" style="margin-top: 30px;">
    <% if user_signed_in? %>
    <h1>Hello <%= current_user.username %> :)</h1>
    <% end %>
    <h3>Welcome To Online Course</h3>
  </div>
  <% if user_signed_in? %>
    <% if current_user.student? == false %>
      <%= link_to 'Manage Course', courses_path ,class: "btn btn-primary btn-lg btn-block"%>
      <%= link_to 'Courses', home_study_path ,class: "btn btn-primary btn-lg btn-block"%>
    <%else%>
      <%= link_to 'Courses', home_study_path ,class: "btn btn-primary btn-lg btn-block"%>
    <%end%>
  <% end %>
</div>

