<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <%= form.label :pdf_name %>
    <%= form.text_field :name , class: "form-control" , placeholder: "Enter pdf name"%>
    <%= form.file_field :document ,class: "form-control" %>
  </div>
    <%= link_to_remove_association "Remove pdf", form, class:"btn btn-danger"%>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" >
  </div>
</div>